:root {
  font-size: 16px;
  font-family: "Saira Condensed", sans-serif;
  --transition-speed: 0.4s;
  --nav-hover-color: rgba(8, 61, 119, 0.7);
  --prim-color: #7b9ea8;
  --sec-color: #006e90;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./media/susan-wilkinson-ztA9VXg21ZM-unsplash.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

a,
a.visited {
  letter-spacing: 0.1rem;
  color: var(--sec-color);
  text-decoration: none;
  transition: all 0.4s ease;
  width: 100%;
  height: 100%;
  text-align: center;

  margin: auto;
}

.navbar {
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;

  width: 100vw;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.5);
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: auto;
}

.navbar li:hover {
  background-color: var(--nav-hover-color);
}

.navbar li:hover > a {
  color: white;
}

i {
  display: inline-block;
  /* margin-left: 0.5rem; */
  color: var(--prim-color);
}

.wrapper {
  width: 100%;
  position: relative;
}

.subwrapper {
  height: 100%;
  position: relative;
  width: 100%;
}

.submenu {
  transform: translateY(-10%);
}

.submenu,
.submenu2 {
  background-color: white;
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition-speed) ease;
}

.submenu2 {
  top: 0;
  width: 100%;
  transform: translateX(90%);
}

.navlink,
.sublink,
.sublink2 {
  padding: 0.75rem;
  height: 100%;
  width: 100%;
  transition: all var(--transition-speed) ease;
}

.submenu:hover,
.wrapper .navlink:hover + ul {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.submenu2 {
  position: absolute;
  margin-top: 0;

  justify-content: center;
}

.submenu2:hover,
.sublink:hover + ul {
  transform: translateX(100%);
  opacity: 1;
  pointer-events: all;
}
