html {
  font-size: 100%;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: "Saira Condensed", sans-serif;
  --transition-speed: 0.4s;
  --nav-hover-color: rgba(23, 114, 150, 0.5);
  --prim-color: #7b9ea8;
  --sec-color: #006e90;
  --menu-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./media/susan-wilkinson-ztA9VXg21ZM-unsplash.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

a,
a.visited {
  color: var(--sec-color);
  text-decoration: none;
  transition: all var(--transition-speed) ease;
  width: 100%;
  height: 100%;
  text-align: center;
}

.navbar {
  background-color: var(--menu-color);
  position: relative;

  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonswrapper {
  display: flex;
}

#logohomewrap {
  width: 20vw;
}

#logo {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-style: italic;
}

.menuwrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

#contactwrap {
  margin-right: 5vw;
  width: 15vw;
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0.75rem;
  width: 100%;
  transition: all var(--transition-speed) ease;
}

.navlink {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

.navbar li:hover {
  background-color: var(--nav-hover-color);
}

i {
  display: flex;
  color: var(--prim-color);
  transition: all var(--transition-speed) ease;
}

.navbar li:hover > a,
.navbar li:hover i {
  color: var(--menu-color);
}

.linkwrapper {
  width: 10rem;
  position: relative;
}

.dropwrapper {
  position: relative;
  width: 100%;
}

.dropmenu {
  transform: translateY(-10%);
}

.dropmenu,
.dropmenu2 {
  background-color: var(--menu-color);
  width: 75%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition-speed) ease;
}

.dropmenu2 {
  width: 100%;
  transform: translateX(90%);
  position: absolute;
  top: 0;
}

.dropmenu:hover,
.navlink:hover + ul {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.dropmenu2:hover,
.droplink:hover + ul {
  transform: translateX(100%);
  opacity: 1;
  pointer-events: all;
}
